@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary-dark  : 210deg 23% 40%;
    --color-primary-light : 210deg 23% 85%;
    --color-accent        : 0deg 65% 60%;
    --color-bg            : 30deg 38% 99%;
    --color-bg-accent     : 30deg 38% 96%;
}

.dark {
    --color-primary-dark  : 210deg 23% 90%;
    --color-primary-light : 210deg 23% 35%;
    --color-accent        : 0deg 45% 60%;
    --color-bg            : 210deg 23% 10%;
    --color-bg-accent     : 210deg 23% 7%;
}

@layer base {

    a {
        @apply border-b-2 border-accent/40 transition-all
    }

    a:hover {
        @apply border-accent
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border: 0px transparent;
        /* -webkit-text-fill-color: transparent; */
        -webkit-box-shadow: 0 0 0px 0px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}

@layer components {

    .text-flow > * + * {
        margin-top : 1.3em;
    }
    
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    
    .scrollbar-hide {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}